.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

img {

  max-width: 75%;
}

.goal-table {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin-top: 1rem;
}

.goal {
  display: flex;
  justify-content: center;
  align-items: center;
}